<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style tyle="text/css">
    html,
     body {
         height: 100%;
          }

    body {
         display: flex;
          flex-direction: column;
       }

    section {
          flex: 1;
    }
    table {
        width:80%;
        border-collapse: collapse;
    }
    th{
        border-left: 1px solid black;
        
        border-bottom: 1px solid black;

        background-color: rgb(220, 236, 253);
    }

  </style>

    
    <title>COVID19-cTable</title>
</head>    

<h2>
    <a href="{% url 'index' %}"> 지도 보기</a>
</h2>

<body>
    <!-- 헤더 (맨위) 아직 클릭시 넘어가는거 안함-->
    <header> 
    <div align="center" style="height:100px; margin-top: 100px;">
    <h1><strong>전북 코로나 상황</strong></h1>
    </div>
<br><br>

    <div style="position: abolute; left: 0px;">
  <label><b><u>확진자 이동경로</u></b>&nbsp&nbsp&nbsp&nbsp </label>
    <!-- 현재는 확진자 이동경로 표 보여주는 창이라 생각하고 강조 -->
  <label> 보건소 </label>
      
        

  <select style="position: absolute; right:0px; float:left; height: 30px; margin-right: 5px;">
    <option value="" selected="">전체</option>
    <option value="전주" >전주</option>
    <option value="익산" >익산</option>
    <option value="군산" >군산</option>
    <option value="무안" >무안</option>
    <option value="전주 외..." >전북지역</option>
</select>


    </div>

</header>
<p></p>

<!-- 섹션(표 부분(중간)) -->
<section>

<table border="1">
<thread >
    <tr>
        <th>번호</th>
        <th>노출일시</th>
        <th>구</th>
        <th>상호명</th>
        <th>주소</th>  
        <th>소독여부</th>
        <th>방역일</th>
        <th>마스크착용</th>
        <th>관련 확진자 번호</th>
    </tr>
</thread>
<tbody>
    ㅎㅎㅎ
    <tr>
        <th></th>
    </tr>
</tbody>
</table>

<!-- 표 페이지 넘기는것도 여기다 해야할것 같은데 이건 데이터 끌어오고 나서 해야할듯. 그래야 넘어갈게있 -->
</section>


<!-- 푸터 (끝부분 (사이트 정보 등)) -->

<footer style="background-color: rgb(111, 114, 121);">
    <div class="tel-num", style="color:black;">
       * 참고:전북도청 - 전라북도청 <br>
       (54968) 전라북도 전주시 완산구 효자로 225 &nbsp&nbsp  ☎대표전화:<strong>063-280-2114</strong>
    </div>

    <div align="right">
        팀 이름?
    </div>
</footer>


    
</body>
</html>